:root {
    --color-212121: #212121;
    --color-1a1819: #1a1819;
    --color-fff: #ffffff;
    --color-000: #000000;
    --font-Raleway-40px: 40px;
    --color-353541: #353541;
    --font-Raleway-21px: 21px;
    --Raleway-SemiBold-Regular-32px: 32px;
    --font-Raleway-22px: 22px;
    --font-Raleway-12px: 12px;
    --font-Raleway-Regular-13px: 13px;
    --Raleway-MediumItalic-Regular-14px: 14px;
    --font-Raleway-48px: 48px;
    --font-Raleway-16px: 16px;
    --color-32323a: #32323a;
    --Raleway-SemiBold-Regular-18px: 18px;
    --color-717171: #717171;
    --color-e85662: #e85662;
    --color-2ac2c8: #2ac2c8;
    --color-fb6470: #fb6470;
    --color-614261: #614261;
    --color-3e3e3e: #3e3e3e;
    --color-f9f9f9: #f9f9f9;
}