:root {
    --color-212121: #212121;
    --color-1a1819: #1a1819;
    --color-fff: #ffffff;
    --color-000: #000000;
    --font-Raleway-40px: 40px;
    --color-353541: #353541;
    --font-Raleway-21px: 21px;
    --Raleway-SemiBold-Regular-32px: 32px;
    --font-Raleway-22px: 22px;
    --font-Raleway-12px: 12px;
    --font-Raleway-Regular-13px: 13px;
    --Raleway-MediumItalic-Regular-14px: 14px;
    --font-Raleway-48px: 48px;
    --font-Raleway-16px: 16px;
    --color-32323a: #32323a;
    --Raleway-SemiBold-Regular-18px: 18px;
    --color-717171: #717171;
    --color-e85662: #e85662;
    --color-2ac2c8: #2ac2c8;
    --color-fb6470: #fb6470;
    --color-614261: #614261;
    --color-3e3e3e: #3e3e3e;
    --color-f9f9f9: #f9f9f9;
    --font-Ralewy: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label {
    font-family: var(--font-Ralewy);
}

hr {
    border: none;
    margin: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

/* LEFT MENU */
body {
    position: relative;
    overflow-x: hidden;
}

.header__nav {
    position: fixed;
    -webkit-transition: 0.7s;
    transition: 0.7s;

    -webkit-transform: translateX(-276px);
    transform: translateX(-276px);
    width: 275px;
    height: 100vh;
    background-color: var(--color-353541);
}

.body-contaier {
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

.body-contaier-active {
    -webkit-transform: translateX(275px);
    transform: translateX(275px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

body .header__nav-active {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.popup__main-subname p {
    position: absolute;
    bottom: 0;

    color: var(--color-fff);
    font-size: var(--font-Raleway-16px);
    font-weight: 500;
    line-height: 22.48px;
    text-transform: uppercase;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.popup__mine-name h2 {
    position: absolute;
    bottom: 15px;

    color: var(--color-fff);
    font-size: var(--Raleway-SemiBold-Regular-32px);
    font-weight: 500;
    line-height: 36.48px;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.body__cross a {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    left: 50px;
    top: 33px;

    display: -webkit-box;

    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}


.body__cross a span {
    position: absolute;
    width: 20px;
    height: 2px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.35);
    background-color: var(--color-fb6470);

    -webkit-transform: rotateZ(45deg);

    transform: rotateZ(45deg);
}

.body__cross a span::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.35);
    background-color: var(--color-fb6470);
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
}

.header-popup__nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.header-popup__nav li {
    padding-left: 30px;
    height: 54px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.header-popup__nav a {
    text-decoration: none;

    color: var(--color-fff);
    font-size: var(--font-Raleway-22px);
    font-weight: 500;
    line-height: 50px;
    width: 100%;
}

.header-popup__nav a:hover {
    color: var(--color-fb6470);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.header-popup__nav hr {
    width: 100%;
    height: 2px;
    background-color: #131321;
    opacity: 0.7;
}

.header-popup__nav a:active {
    color: #9e434a;
}

/* HEADER */

.header__background {
    width: 100%;
    height: 586px;
    background-color: var(--color-353541);
}

.header__mine-image img {
    width: 275px;
    height: 221px;
}

.header__mine-image {
    position: relative;
    background-color: #0f4553;
    width: 275px;
    height: 221px;
}

.header__wrap {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__menu {
    position: absolute;
}

.header__menu_active {
    display: none;
}

.header__name-block {
    padding: 160px 0 0 0;
}

.header__menu_paddig {
    padding-top: 50px;
}

.header__menu a {
    width: 56px;
    height: 33px;
    display: inline-block;
}

.header__menu span,
.header__menu span::before,
.header__menu span::after {
    width: 55px;
    height: 5px;
    background-color: var(--color-fb6470);
    position: absolute;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.header__menu span::before,
.header__menu span::after {
    content: "";
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.header__menu span::before {
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
}

.header__menu span::after {
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
}

.header__name-horizon-line hr {
    width: 327px;
    height: 2px;
    background-color: var(--color-fb6470);
    margin: 0 auto;
}

.header__name h1 {
    color: var(--color-fff);
    font-size: var(--font-Raleway-48px);
    font-weight: 500;
    line-height: 36.48px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.header__subname p {
    color: var(--color-fff);
    font-size: var(--Raleway-SemiBold-Regular-18px);
    font-weight: 500;
    line-height: 36.48px;
    text-transform: uppercase;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.header__button {
    width: 180px;
    height: 55px;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.header__button a {
    width: 170px;
    height: 49px;
    border: none;
    border-radius: 4px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    color: var(--color-fff);
    font-family: var(--font-Ralewy);
    font-size: var(--font-Raleway-22px);
    font-weight: 500;
    line-height: 36.48px;
    text-decoration: none;
}

.header__button-line {
    position: absolute;
    display: block;
}

.header__button-line_top {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(var(--color-fb6470)));
    background: linear-gradient(90deg, transparent, var(--color-fb6470));
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-animation: button__line-top 1s 2s;
    animation: button__line-top 1s 2s;
}

@-webkit-keyframes button__line-top {
    form {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

}

@keyframes button__line-top {
    form {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    to {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

}

.header__button-line_bottom {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(transparent), to(var(--color-fb6470)));
    background: linear-gradient(270deg, transparent, var(--color-fb6470));
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-animation: button__line-bottom 1s 2s;
    animation: button__line-bottom 1s 2s;
}

@-webkit-keyframes button__line-bottom {
    form {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

}

@keyframes button__line-bottom {
    form {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

}

.header__button-line_left {
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(var(--color-fb6470)));
    background: linear-gradient(0deg, transparent, var(--color-fb6470));
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-animation: button__line-left 1s 2.3s;
    animation: button__line-left 1s 2.3s;
}

@-webkit-keyframes button__line-left {
    form {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

}

@keyframes button__line-left {
    form {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

}

.header__button-line_rigth {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(var(--color-fb6470)));
    background: linear-gradient(90deg, transparent, var(--color-fb6470));
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: button__line-right 1s 2.3s;
    animation: button__line-right 1s 2.3s;
}

@-webkit-keyframes button__line-right {
    form {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

}

@keyframes button__line-right {
    form {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    to {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

}

@-webkit-keyframes button__color {
    form {}

    to {
        background-color: var(--color-fb6470);
        box-shadow: 0 0 10px var(--color-fb6470);
    }

}

@keyframes button__color {
    form {}

    to {
        background-color: var(--color-fb6470);
        box-shadow: 0 0 10px var(--color-fb6470);
    }

}

.header__active-button {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-color: var(--color-fb6470);
    box-shadow: 0 0 10px var(--color-fb6470), 0 0 40px var(--color-fb6470), 0 0 80px var(--color-fb6470);
}

.header__active-button:hover {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-color: #c7515a;
    ;
    box-shadow: 0 0 10px #c7515a, 0 0 40px #c7515a, 0 0 80px #c7515a;
}

.header__active-button:active {
    background-color: #9e434a;
    box-shadow: 0 0 10px #9e434a,
        0 0 40px #9e434a, 0 0 80px #9e434a;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.header__active-button:focus {
    outline: 5px solid rgba(148, 52, 60, 0.5);
}

/* BLOCK-ONE */

.block-one {
    width: 100%;
    height: 600px;
    background-color: var(--color-f9f9f9);
}

.block-one__main-headline h2 {
    color: var(--color-3e3e3e);
    font-size: var(--Raleway-SemiBold-Regular-32px);
    line-height: 36.48px;
    margin: 12px 0;
}

.block-one__horizon-line hr {
    width: 76px;
    height: 2px;
    background-color: var(--color-fb6470);

    -webkit-transform: rotateY(90deg);

    transform: rotateY(90deg);
    -webkit-transition: 1.1s;
    transition: 1.1s;
}

.block-one__horizon-line_active hr {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: 1.1s;
    transition: 1.1s;
}

.block-one__suntitle p {
    width: 401px;
    height: 68px;
    opacity: 0.8;
    color: var(--color-3e3e3e);
    font-size: var(--font-Raleway-16px);
    font-weight: 500;
    line-height: 26px;
}

.block-one__suntitle_margin p {
    margin-bottom: 26px;
    margin-top: 24px;
}

.block-one__box-about-me {
    width: 340px;
    height: 256px;
    background-color: var(--color-fff);
}

.block-one__item p {
    color: var(--color-3e3e3e);
    font-size: var(--Raleway-SemiBold-Regular-18px);
    line-height: 50px;
    font-weight: 400;
    margin: 0;
}

.block-one__item a {
    color: var(--color-3e3e3e);
    font-size: var(--Raleway-SemiBold-Regular-18px);
    line-height: 50px;
    font-weight: 400;
    margin: 0;
}

.block-one__item-line hr {
    width: 340px;
    height: 1px;
    background-color: var(--color-000);
    opacity: 0.1;
}

.block-one__rigth-box {
    background-color: var(--color-353541);
    width: 380px;
    height: 526px;
    margin-left: 46px;
    position: relative;
}

.block-one__rigth-box-duo {
    background-color: #0f4553;
    width: 380px;
    height: 526px;
    position: absolute;
}

.block-one__rigth-box img {
    width: 380px;
    height: 526px;
    position: absolute;
}

.block-one__left-box {
    margin-left: 22px;
}

.block-one__layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
}

.block-one__left-box,
.block-one__rigth-box {
    align-self: flex-end;
}


/* BLOCK-TWO */
.block-two,
.block-three {
    height: 839px;
    width: 100%;
}

.horizon-line__footer hr {
    width: 100%;
    height: 1px;
    background-color: var(--color-000);
    opacity: 0.1;
}

.horizon-line__footer_margin hr {
    margin: 80px 0;
}

.block-one__main-headline_position h2 {
    padding-top: 60px;
}

.line-style {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.line-style__circle {
    width: 42px;
    height: 42px;
    border: 2px solid var(--color-000);
    background-color: var(--color-f9f9f9);
    border-radius: 60px;

    display: -webkit-box;

    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.line-style__inner-circle {

    width: 20px;
    height: 20px;
    border: 2px solid var(--color-000);
    background-color: var(--color-fb6470);
    border-radius: 60px;
}

.line-style__bottom-line {
    width: 2px;
    height: 160px;
    background-color: var(--color-353541);

    display: -webkit-box;

    display: flex;
    margin: 0 auto;
}

.line-style__bottom-line-short {
    width: 2px;
    height: 100px;
    background-color: var(--color-353541);

    display: -webkit-box;

    display: flex;
    margin: 0 auto;
}

.popup-experience-rigth {
    position: absolute;
    width: 454px;
    background-color: var(--color-353541);
    height: 147px;
    border-radius: 5px;

    padding: 21px;
    box-sizing: border-box;
    right: 0;
}

.popup-experience-rigth_margin,
.popup-experience-left_margin {
    margin-top: 51px;
}

.popup-experience-left {
    position: absolute;
    width: 454px;
    background-color: var(--color-353541);
    height: 147px;
    border-radius: 5px;

    padding: 21px;
    box-sizing: border-box;
    left: 0;
}

.popup-experience__mine-text h3 {
    color: var(--color-fff);
    font-size: var(--font-Raleway-22px);
    font-weight: 500;

    margin: 0 0 5px 0;
}

.popup-experience__mine-text span {
    opacity: 0.8;
    color: var(--color-fff);
    font-size: 20px;
    font-weight: 500;

    margin: 0;
}

.popup-experience__period p {
    color: var(--color-fb6470);
    font-size: var(--Raleway-SemiBold-Regular-18px);
    font-weight: 400;
    text-transform: uppercase;

    margin: 0 0 5px 0;
}

.popup-experience__about p {
    color: var(--color-fff);
    font-size: var(--font-Raleway-16px);
    font-weight: 400;

    margin: 0;
}

.popup-experience__about a {
    text-decoration: underline;
    color: var(--color-fb6470);
}

.popup-experience__about a:visited {
    color: var(--color-fb6470);
}

.popup-experience__about a:hover {
    color: #c7515a;
}

.popup-experience__corner {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 50px solid var(--color-353541);
    border-bottom: 20px solid transparent;
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: skewY(11deg);
    transform: skewY(11deg);
    position: absolute;
    left: 0;
    margin: 0 0 0 -40px;
    top: 15px;
}

.popup-experience__corner-two {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    -webkit-transform-origin: right;
    transform-origin: right;
    border-left: 50px solid var(--color-353541);
    -webkit-transform: skewY(11deg);
    transform: skewY(11deg);
    position: absolute;
    right: 0;
    margin: 0 -40px 0 0;
    bottom: 5px;
}

/* BLOCK-THREE */


/* BLOCK-FOUR */
.block-four {
    background-color: #1d1d24;
    width: 100%;
    height: 428px;
    padding: 60px 0;
    box-sizing: border-box;
}

.block-five {
    height: 476px;
    width: 100%;
}

.block-one__main-headline_color h2 {
    color: var(--color-fff);
}

.input-block__box {
    width: 320px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.input-block__box label {
    color: var(--color-fff);
    font-size: var(--Raleway-SemiBold-Regular-18px);
    font-weight: 500;
    line-height: 31.19px;
}

.input-block__box p,
.input-block__box input {
    display: inline-block;
}

.input-block__box p {
    color: var(--color-fff);
    font-size: var(--Raleway-MediumItalic-Regular-14px);
    font-weight: 500;
}

.input-block__range_margin {
    margin-top: 30px;
}

.input-block__box input[type=range] {
    width: 265px;
    height: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.input-block__box input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 18px;
    height: 18px;
    background-color: var(--color-e85662);
    border-radius: 60px;
}

.input-block__box input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 18px;
    height: 18px;
    background-color: var(--color-e85662);
    border-radius: 60px;
}

/* BLOCK-FIVE */

.headline__h2 h2 {
    color: var(--color-3e3e3e);
    font-size: var(--font-Raleway-22px);
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 9px;
}

.headline__h2_position {
    padding-top: 70px;
}

.header__wrap_width {
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 10px;
}

.input-block__message input {
    width: 250px;
    height: 32px;
    border: 1px solid var(--color-353541);
}

.input-block__message textarea {
    width: 250px;
    height: 137px;
    border: 1px solid var(--color-353541);
    resize: none;
}

.input-block__message input {
    padding-left: 13px;
}

.input-block__message input::-webkit-input-placeholder,
.input-block__message textarea::-webkit-input-placeholder {
    font-style: italic;
}

.input-block__message input::-moz-placeholder,
.input-block__message textarea::-moz-placeholder {
    font-style: italic;
}

.input-block__message input:-ms-input-placeholder,
.input-block__message textarea:-ms-input-placeholder {
    font-style: italic;
}

.input-block__message input::-ms-input-placeholder,
.input-block__message textarea::-ms-input-placeholder {
    font-style: italic;
}

.input-block__message input::placeholder,
.input-block__message textarea::placeholder {
    font-style: italic;
}

.input-block__message_margin input {
    margin-bottom: 19px;
}

.input-block__message_margin textarea {
    margin-left: 20px;

    padding-left: 10px;
    padding-top: 5px;
}

.input-block__layout {
    display: -webkit-box;
    display: flex;
}

.input-block__submit {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-top: 10px;
}

.input-block__submit input {
    color: var(--color-fff);
    width: 95px;
    height: 35px;
    background-color: var(--color-fb6470);
    border: none;

    font-family: var(--font-Ralewy);
    font-size: var(--font-Raleway-16px);
    font-weight: 500;
    cursor: pointer;
}

.input-block__submit input:hover {
    background-color: #c7515a;
}

.input-block__submit input:active {
    background-color: #9e434a;
}

.address-block__img {
    background-image: url(Img/Home.svg);
    width: 32px;
    height: 32px;
}

.address-block__img-two {
    background-image: url(Img/Mail_2.svg);
    width: 32px;
    height: 32px;
}

.address-block__img-three {
    background-image: url(Img/Phone_2.svg);
    width: 32px;
    height: 32px;
}

.address-block__img_margin {
    margin-right: 35px;
}

.address-block__location address {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.input-block__flexbox_position {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.address-block__main-paragraph {
    height: 53px;
}

.address-block__main-paragraph p {
    color: var(--color-3e3e3e);
    font-size: var(--font-Raleway-22px);
    font-weight: 500;
    height: 17px;
    margin: 0;
}

.address-block__main-paragraph span,
.address-block__main-paragraph a {
    opacity: 0.8;
    color: var(--color-3e3e3e);
    font-size: var(--font-Raleway-16px);
    font-weight: 500;
    height: 16px;
}

.address-block__location_position {
    margin-bottom: 5px;
}

.address-block {
    margin-right: 110px;
}

/* FOOTER */
.block-footer {
    height: 113px;
}

.social-block {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.horizon-line__footer_margin-edit hr {
    margin-bottom: 36px;
}

.social-block__icon {
    display: -webkit-box;
    display: flex;
}

.footer-block__paragraph p {
    color: var(--color-3e3e3e);
    font-size: var(--font-Raleway-12px);
    font-weight: 500;
    line-height: 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0;
}

.github-size {
    width: 18px;
    height: 18px;
}

.skype-size {
    width: 18px;
    height: 18px;
}

.twitter-size {
    width: 21px;
    height: 16px;
}

.social-block__icon_after::after,
.social-block__icon_before::before {
    content: "|";
    margin: 0 10px 0 13px;
    padding: 0;
}

.input-block__range {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

/* MORAL */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 700px;
    max-width: 100%;
    max-height: 100%;
    height: 300px;
    z-index: 1010;

    display: -webkit-box;

    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-transition: 1s;
    transition: 1s;
}

.modal-button button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 10px 0 0;
    cursor: pointer;

    background: transparent;
    border: none;

    display: -webkit-box;

    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.modal-button img {
    width: 25px;
    height: 25px;
}

.modal-close {
    display: none;
}

.modal-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* отступы */
    padding: 20px 50px 20px 20px;
    /* разрешим скролить */
    overflow: auto;
}

.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--color-353541);
    opacity: .5;
    cursor: pointer;
}

.button-footer a {
    position: fixed;
    bottom: 50px;
    left: 50%;
    z-index: 1;
}