:root {
    --color-212121: #212121;
    --color-1a1819: #1a1819;
    --color-fff: #ffffff;
    --color-000: #000000;
    --font-Raleway-40px: 40px;
    --color-353541: #353541;
    --font-Raleway-21px: 21px;
    --Raleway-SemiBold-Regular-32px: 32px;
    --font-Raleway-22px: 22px;
    --font-Raleway-12px: 12px;
    --font-Raleway-Regular-13px: 13px;
    --Raleway-MediumItalic-Regular-14px: 14px;
    --font-Raleway-48px: 48px;
    --font-Raleway-16px: 16px;
    --color-32323a: #32323a;
    --Raleway-SemiBold-Regular-18px: 18px;
    --color-717171: #717171;
    --color-e85662: #e85662;
    --color-2ac2c8: #2ac2c8;
    --color-fb6470: #fb6470;
    --color-614261: #614261;
    --color-3e3e3e: #3e3e3e;
    --color-f9f9f9: #f9f9f9;
    --font-Ralewy: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: var(--font-Ralewy);
}

/* HEADER */

.header__background {
    width: 100%;
    height: 586px;
    background-color: var(--color-353541);
}

.header__wrap {
    max-width: 1120px;
    margin: 0 auto;
}

.header__menu {
    position: relative;
}

.header__menu_paddig {
    padding-top: 60px;
}

.header__menu a {
    width: 56px;
    height: 33px;
    display: inline-block;
}

.header__menu span,
.header__menu span::before,
.header__menu span::after {
    width: 55px;
    height: 5px;
    background-color: var(--color-fb6470);
    position: absolute;
}

.header__menu span::before,
.header__menu span::after {
    content: "";
    transition: 0.5s;
}

.header__menu span::before {
    transform: translateY(-14px);
}

.header__menu span::after {
    transform: translateY(14px);
}

.header__menu_active span {
    height: 0;
}

.header__menu_active span::before {
    transform: rotate(-45deg);
    transition: 0.5s;
}

.header__menu_active span::after {
    transform: rotate(45deg);
    transition: 0.5s;
}

.header__name-horizon-line hr {
    width: 327px;
    height: 2px;
    background-color: var(--color-fb6470);
    border: none;
}

.header__name h1 {
    color: var(--color-fff);
    font-size: var(--font-Raleway-48px);
    font-weight: 500;
    line-height: 36.48px;
    display: flex;
    justify-content: center;
}

.header__subname p {
    color: var(--color-fff);
    font-size: var(--Raleway-SemiBold-Regular-18px);
    font-weight: 500;
    line-height: 36.48px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.header__button {
    width: 180px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__button a {
    width: 170px;
    height: 49px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    color: var(--color-fff);
    font-family: var(--font-Ralewy);
    font-size: var(--font-Raleway-22px);
    font-weight: 500;
    line-height: 36.48px;
    text-decoration: none;
}

.header__button-line {
    position: absolute;
    display: block;
}

.header__button-line_top {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--color-fb6470));
    transform: translateX(-100%);
    animation: button__line-top 1s 2s;
}

@keyframes button__line-top {
    form {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }

}

.header__button-line_bottom {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--color-fb6470));
    transform: translateX(100%);
    animation: button__line-bottom 1s 2s;
}

@keyframes button__line-bottom {
    form {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }

}

.header__button-line_left {
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, var(--color-fb6470));
    transform: translateY(100%);
    animation: button__line-left 1s 2.3s;
}

@keyframes button__line-left {
    form {
        transform: translateY(100%);
    }

    to {
        transform: translateY(-100%);
    }

}

.header__button-line_rigth {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(90deg, transparent, var(--color-fb6470));
    transform: translateY(-100%);
    animation: button__line-right 1s 2.3s;
}

@keyframes button__line-right {
    form {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(100%);
    }

}

@keyframes button__color {
    form {}

    to {
        background-color: var(--color-fb6470);
        box-shadow: 0 0 10px var(--color-fb6470);
    }

}

.header__active-button {
    transition: 0.4s;
    background-color: var(--color-fb6470);
    box-shadow: 0 0 10px var(--color-fb6470), 0 0 40px var(--color-fb6470), 0 0 80px var(--color-fb6470);
}

.header__active-button:hover {
    transition: 0.4s;
    background-color: #c7515a;
    ;
    box-shadow: 0 0 10px #c7515a, 0 0 40px #c7515a, 0 0 80px #c7515a;
}

.header__active-button:active {
    background-color: #9e434a;
    box-shadow: 0 0 10px #9e434a,
        0 0 40px #9e434a, 0 0 80px #9e434a;
    transition: 0.1s;
}

.header__active-button:focus {
    outline: 5px solid rgba(148, 52, 60, 0.5);
}